html {
    height: 100%;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.mainContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    min-height: 300px;
}

.row {
    display: flex;
    flex: 1;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 40px;
}

button {
    margin-bottom: 20px;
    padding: 5px;
}

.cButton,.bButton {
    flex: 1;
}



.gridSquare {
    flex:1;
}

.hover {
    background-color: black;
}

/* .randomRGB {
    background-color: var(--some-color);
} */
