html {
    height: 100%;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.mainContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    min-height: 300px;
}

.row {
    display: flex;
    flex: 1;
}

button {
    margin-bottom: 20px;
}

.gridSquare {
    flex:1;
}

.hover {
    background-color: black;
}